body, html {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  background-image: url('../public/backgorund.jpg');
  background-color: #c7d6e1;
  background-size: cover;
  overflow: hidden;
  
}



